
/* navigation bar */
#navbar{
	display: flex;
	position: absolute;
	align-items: center;
	top: 0px;
    
}

/* navigation bar logo */
.logo{
	margin:5px 10px;
}

/* navigation bar logo img */
.logo img{
	height: 80px;
	width: 60px;
}

/* navigation bar list styling */
#navbar{
	display: flex;
	position: relative;
	align-items: center;
	top: 0px;
}

#navbar ul{
	display: flex;
	align-items: center;
}

#navbar ul li{
	list-style: none;
	font-style: 1.3rem;

}
#navbar ul li a{
	display: flex;
	color: #ff3300;
	padding: 3px; 22px;
	text-decoration: none;

	}

#navbar::before{
	content: "";
	position: absolute;
	background-color: #ff3300;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.4;

}
.btn{
	margin: 1px 50px;
	padding: 1px 43px;
	color: black;
	border-radius: 8px;
	cursor: pointer;
    border: none;
}
.btn:hover{
	color: green;
	background-color: aquamarine;
}
/* home (container) section */
#container h1{
	display: block;
	padding: 35px 350px;
	margin: 30px -34px;
	font-size: 3rem;
	color: #ff3300;
}

p{
	color: #ff3300;
	text-align: center;
	padding: 30px;
	font-size: 1.5rem;
}

.name{
	display: inline-block;
	color: black;
	padding: 20px 40px;
	margin: 10px 230px;
	text-align: center;

}
#container::before{
	content: "";
	position: absolute;
	background: url(../images/girl.jpg) no-repeat center center/cover;
	top: 102px;
	left: 4px;
	height: 100%;
	width: 100%;
	z-index: -4;
}  

.bte{
	background-color: green;
	border: none;
	color: navajowwwhite;
	padding: 15px 3px;
	text-align: center;
	text-decoration: none;
	font-size: 2.5rem;
	display: inline-block;

} 
.bte:hover{
	color: aquamarine;
	background-color: white;
	cursor: pointer;
}

